html, body {
  margin:0;
  padding:0;
}

header{
  background-color: rgba(0, 0, 0, 0.80);
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
}

nav .nav-items {
  list-style-type: none;
  display: flex;
}

.nav-items li {
  padding: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.nav-img{
  width: 80px;
}

h2, small{
  padding-left: 20px;
}

ol li {
  padding-right: 20px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 14px;
}

.left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:14px;
}

.left-section h2 {
  color:rgb(122, 219, 236);
}

.nav-items li {
  color:white;
}

body{
  background-color: rgba(0, 0, 0, 0.90);
  color: white;;
}