html, body {
  margin:0;
  padding:0;
}

header{
  background-color: rgba(0, 0, 0, 0.90);
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
}

nav .nav-items {
  list-style-type: none;
  display: flex;
  flex:1;
  justify-content: end;
}

.nav-items li {
  padding: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.nav-img{
  height: 50px;
}

h2, small{
  padding-left: 20px;
}

.facts li {
  padding-right: 20px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 14px;
}

.facts li::marker {
  color:rgb(44, 219, 146);
  font-size:1.3rem;
}

.left-section {
  display: flex;
  width: 260px;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}


.left-section h2 {
  color:rgb(122, 219, 236);
  letter-spacing: -0.01em;
  font-size:22px;
}

.left-section h3 {
  color: rgb(44, 219, 146);
}

.nav-items li {
  color:white;
}

body{
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  background-image: url('images/react2.png');
  background-repeat: no-repeat;
  background-position:calc(100% + 10rem) calc(100% - 1.6rem);
  background-size: 22%;
}

footer small{
  width:100%;
  background-color: grey;
  padding: 10px;
  bottom: 0px;
   position: fixed;
}

.main{
  width: 86%;
}